@import "_base";

//Map de size de telas
$breakpoints: (
  xs: 0,        //Smartphones em modo retrato
  sm: 576px,    //Smartphones em modo paisagem ou Tablets em modo retrato
  md: 768px,    //Tablets em modo paisagem
  lg: 992px,    //Desktops
  xl: 1200px,   //Desktops com alta definição HD e FHD
  xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
);

@mixin body-color($color) {

}

//Tratamento para diferents tipos de telas
@media (min-width: map-get($breakpoints, x1)) {
    @include body-color(white);
}

@media (min-width: map-get($breakpoints, sm)) {
    @include body-color(black);
}

@media (min-width: map-get($breakpoints, md)) {
    @include body-color(red);
}

@media (min-width: map-get($breakpoints, lg)) {
    @include body-color(yellow);
}

@media (min-width: map-get($breakpoints, xl)) {
    
}

@media (min-width: map-get($breakpoints, xl)) {
    
}
