@import "_base";
@import "_screens";

//Paisagem
@media (orientation: landscape){
    #destaque{
        background-size: 110vw;
    }

    #inverter-flex-box{
        flex-direction: row-reverse;
    }
}

//Retrato
@media (orientation: portrait){
    #destaque{
        background-size: 300vw;
    }
}

//Tratamento para diferents tipos de telas
@media (min-width: map-get($breakpoints, xs)) {
    #logo{
        width: 100px;
        height: 100px;
    }

    .menu{
        height: 50px;

        ul{
            height: 50px;
        }
    }

    .section-details {
        width: 90vw;
    }

    .conteudo-img{
        img{
            width: 150px;
            height: 150px;
        }
    }

    #links{
        height: 100vh;
        flex-direction: row;

        .listaDeLinks{
            //Definir o tamanho completo para descer os outros
            width: 60vw;
    
            a{
                font-size: 14px;
            }
    
            img{
                width: 32px;
                height: 32px;
            }
        }
    }

    #destaque{
        h1{
            font-size: 24px;
        }

        h2{
            font-size: 18px;
        }
    }
}

//Smartphone em modo paisagem
@media (min-width: map-get($breakpoints, sm)) and (orientation: landscape) {
    
}

//Smartphone em modo retrato
@media (min-width: map-get($breakpoints, sm)) and (orientation: portrait) {
    #logo{
        width: 200px;
        height: 200px;
    }

    .menu{
        height: 100px;

        ul{
            height: 100px;
        }
    }
}

//Table em modo paisagem
@media (min-width: map-get($breakpoints, md)) {
    #logo{
        width: 200px;
        height: 200px;
    }

    .menu{
        height: 100px;

        ul{
            height: 100px;
        }
    }
}

//Desktop
@media (min-width: map-get($breakpoints, lg)) {
    #logo{
        width: 260px;
        height: 260px;
    }

    .menu{
        height: 130px;

        ul{
            height: 130px;
        }
    }

    .section-details {
        width: 45vw;
    }

    .conteudo-img{
        img{
            width: 250px;
            height: 250px;
        }
    }

    #links{
        height: 70vh;
        flex-direction: column;

        .listaDeLinks{
            //Definir o tamanho completo para descer os outros
            width: 30vw;
    
            a{
                font-size: 16px;
            }
    
            img{
                width: 50px;
                height: 50px;
            }
        }
    }

    #destaque{
        h1{
            font-size: 40px;
        }

        h2{
            font-size: 30px;
        }
    }
}

//Desktop de Alta Resolução
@media (min-width: map-get($breakpoints, xl)) {

}
