@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * h2, * h3, * p {
  margin-bottom: 0.8rem;
}

* ul {
  list-style-type: none;
}

* mark {
  background-color: inherit;
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
}

.menu li {
  margin: 20px;
}

main, section {
  height: 70vh;
  text-align: center;
  overflow: hidden;
}

.button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  width: 200px;
  font-weight: 900;
}

#destaque {
  background: url(/img/Destaque_o20.png);
  background-position: center;
  background-repeat: no-repeat;
}

.destaqueHTML {
  color: #E44D26;
}

.destaqueCSS {
  color: #264DE4;
}

.destaqueJS {
  color: #E5A228;
}

#html {
  background: -webkit-gradient(linear, left top, right top, from(rgba(228, 77, 38, 0.8)), to(rgba(241, 101, 41, 0.8)));
  background: linear-gradient(90deg, rgba(228, 77, 38, 0.8) 0%, rgba(241, 101, 41, 0.8) 100%);
}

#css {
  background: -webkit-gradient(linear, left top, right top, from(rgba(38, 77, 228, 0.8)), to(rgba(41, 101, 241, 0.8)));
  background: linear-gradient(90deg, rgba(38, 77, 228, 0.8) 0%, rgba(41, 101, 241, 0.8) 100%);
}

#js {
  background: -webkit-gradient(linear, left top, right top, from(rgba(229, 162, 40, 0.8)), to(rgba(241, 191, 38, 0.8)));
  background: linear-gradient(90deg, rgba(229, 162, 40, 0.8) 0%, rgba(241, 191, 38, 0.8) 100%);
}

#links {
  background: -webkit-gradient(linear, left top, right top, from(#BBBBBB), to(#DDDDDD));
  background: linear-gradient(90deg, #BBBBBB 0%, #DDDDDD 100%);
}

.rodape {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #000000;
}

.rodape img {
  width: 32px;
  width: 32px;
}

@media (orientation: landscape) {
  #destaque {
    background-size: 110vw;
  }
}

@media (orientation: portrait) {
  #destaque {
    background-size: 200vw;
  }
}

@media (min-width: 0) {
  #logo {
    width: 100px;
    height: 100px;
  }
  .menu {
    height: 50px;
  }
  .menu ul {
    height: 50px;
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  #logo {
    width: 200px;
    height: 200px;
  }
  .menu {
    height: 100px;
  }
  .menu ul {
    height: 100px;
  }
}

@media (min-width: 768px) {
  #logo {
    width: 200px;
    height: 200px;
  }
  .menu {
    height: 100px;
  }
  .menu ul {
    height: 100px;
  }
}

@media (min-width: 992px) {
  #logo {
    width: 260px;
    height: 260px;
  }
  .menu {
    height: 130px;
  }
  .menu ul {
    height: 130px;
  }
}
/*# sourceMappingURL=main.css.map */