@import "_base";
@import "_screens";

//Paisagem
@media (orientation: landscape){
    #destaque{
        background-size: 110vw;
    }

    #inverter-flex-box{
        flex-direction: row-reverse;
    }
}

//Retrato
@media (orientation: portrait){
    #destaque{
        background-size: 200vw;
    }
}

//Tratamento para diferents tipos de telas
@media (min-width: map-get($breakpoints, xs)) {
    #logo{
        width: 100px;
        height: 100px;
    }

    .menu{
        height: 50px;

        ul{
            height: 50px;
        }
    }
}

//Smartphone em modo paisagem
@media (min-width: map-get($breakpoints, sm)) and (orientation: landscape) {
    
}

//Smartphone em modo retrato
@media (min-width: map-get($breakpoints, sm)) and (orientation: portrait) {
    #logo{
        width: 200px;
        height: 200px;
    }

    .menu{
        height: 100px;

        ul{
            height: 100px;
        }
    }
}

//Table em modo paisagem
@media (min-width: map-get($breakpoints, md)) {
    #logo{
        width: 200px;
        height: 200px;
    }

    .menu{
        height: 100px;

        ul{
            height: 100px;
        }
    }
}

//Desktop
@media (min-width: map-get($breakpoints, lg)) {
    #logo{
        width: 260px;
        height: 260px;
    }

    .menu{
        height: 130px;

        ul{
            height: 130px;
        }
    }
}

//Desktop de Alta Resolução
@media (min-width: map-get($breakpoints, xl)) {

}
